header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead {
  /*position: relative;*/
  /*overflow: hidden;*/
  padding-top: calc(3rem + 72px);
  padding-bottom: 3rem;
  /*background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
  /*background-attachment: scroll;*/
  /*background-size: cover;*/
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

#resume {}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

.section-divider {
  border: none;
  border-top: 2px dashed #ccc;
  border-right: 2px dashed #ccc;
  border-left: 2px dashed #ccc;
  margin: 24px 0;
}